:root {
  --main-color: #ff0000;
  --second-color: #780116;
  --bg-color: #fffffc;
  --back-color: #edf6f9af;
  --text-color: #220901;
  --light-hover: #ff0101ca;
}

.list-container {
  background: var(--back-color);
  min-height: 100vh;
  padding: 25px;
}

/* Header */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.header-bar h2 {
  font-weight: 700;
  color: var(--second-color);
}

/* Add Button */
.add-btn {
  padding: 8px 18px;
  background: var(--main-color);
  color: var(--bg-color);
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
.add-btn:hover {
  background: var(--light-hover);
}

/* Card Box */
.card-box {
  background: var(--bg-color);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

/* Table */
.custom-table th {
  background: var(--second-color);
  color: var(--bg-color);
  font-weight: 600;
  font-size: 15px;
}
.custom-table td {
  color: var(--text-color);
  vertical-align: middle;
}

/* Actions Buttons */
.action-btns {
  display: flex;
  gap: 10px;
}

.edit-btn {
  padding: 6px 14px;
  background: var(--second-color);
  color: var(--bg-color);
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  border: none;
}
.edit-btn:hover {
  background: var(--main-color);
}

.delete-btn {
  padding: 6px 14px;
  background: var(--main-color);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
}
.delete-btn:hover {
  background: var(--light-hover);
}







